* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif
}


body {
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(180deg,#081120,#152545,#1e315d);
    overflow:hidden;
    position:relative;
    color:#fff
    
}

.contenedor {
    width:min(90%,420px);
    padding:32px;
    border-radius:24px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    text-align:center;
    z-index:10;
    border:1px solid rgba(255,255,255,.15)
}
.contenedor.ocultar{
    animation: desaparecerTarjeta .6s forwards;
}


@keyframes desaparecerTarjeta{

    from{
        opacity:1;
        transform:translateY(0) scale(1);
    }

    to{
        opacity:0;
        transform:translateY(-80px) scale(.9);
    }

}

h1 {
    margin-bottom:18px
}

.texto {
    line-height:1.6;
    margin-bottom:24px;
    color:#eee
}

button {
    width:100%;
    padding:16px;
    border:none;
    border-radius:14px;
    background:#ff5d95;
    color:#fff;
    font-weight:bold;
    cursor:pointer;
    transition:.2s
}

button:active {
    transform:scale(.97)
}

#pantallaCarga {
    display:none;
    position:absolute;
    inset:0;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:25px;
    background:rgba(0,0,0,.35);
    z-index:50
}

.loader {
    width:70px;
    height:70px;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.2);
    border-top-color:#ff77aa;
    animation:girar 1s linear infinite
}

@keyframes girar {
    to {
        transform:rotate(360deg)
    }

    
}

#caja {
    display:none;
    flex-direction:column;
    align-items:center;
    position:absolute;
    z-index:20;
}

@keyframes caerRegalo{

    0%{
        transform:translateY(-120vh);
    }

    65%{
        transform:translateY(30px);
    }

    80%{
        transform:translateY(-15px);
    }

    90%{
        transform:translateY(5px);
    }

    100%{
        transform:translateY(0);
    }

}

.particula{

    position:absolute;
    width:6px;
    height:6px;
    background:#42e568;
    border-radius:50%;
    animation:explosion 1s forwards;
    z-index:9999;

}


@keyframes explosion{

    from{
        transform:translate(0,0) scale(1);
        opacity:1;
    }

    to{
        transform:translate(var(--x),var(--y)) scale(0);
        opacity:0;
    }

}

.base {
    width:150px;
    height:100px;
    background:#ff5d95;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.35)
}

.tapa {
    width:165px;
    height:35px;
    background:#ff83b3;
    border-radius:12px;
    margin-bottom:4px
}

.temblar {
    animation:temblar .1s infinite
}

@keyframes temblar {
    0% {
        transform:translateX(-4px)
    }

    25% {
        transform:translateX(4px)
    }

    50% {
        transform:translateY(-2px)
    }

    75% {
        transform:translateY(2px)
    }

    100% {
        transform:none
    }

    
}

.abrir .tapa {
    animation:abrirCaja .8s forwards
}

@keyframes abrirCaja {
    to {
        transform:translateY(-150px) rotate(-30deg) scale(.7);
        opacity:0
    }

    
}

.ocultarCaja {
    opacity:0;
    transform:translateY(40px) scale(.8)
}

#tarjeta {
    display:none;
    flex-direction:column;
    gap:18px;
    align-items:center;
    width:min(90%,420px);
    background:#fff;
    color:#333;
    padding:30px;
    border-radius:24px;
    position:absolute;
    z-index:30;
    opacity:0;
    transform:translateY(40px) scale(.85);
    box-shadow:0 15px 35px rgba(0,0,0,.35)
}

.mostrar {
    animation:mostrarTarjeta .75s forwards
}

@keyframes mostrarTarjeta {
    0% {
        opacity:0;
        transform:translateY(50px) scale(.8)
    }

    60% {
        opacity:1;
        transform:translateY(-10px) scale(1.04)
    }

    100% {
        opacity:1;
        transform:none
    }

    
}

#codigo {
    width:100%;
    padding:18px;
    background:#f4f4f4;
    border-radius:15px;
    letter-spacing:3px;
    font-weight:bold;
    color:#ff4d88;
    text-align:center
}

#copiar {
    width:100%
}

.luna{
    position:absolute;
    top:60px;
    right:80px;
    width:100px;
    height:100px;
    border-radius:50%;

    background:
    radial-gradient(circle at 30% 30%,
        #fffde7 0%,
        #fff4b8 45%,
        #d8c98a 100%
    );

    box-shadow:
    0 0 30px rgba(255,244,194,.7),
    0 0 80px rgba(255,244,194,.3);

    overflow:hidden;
    
}

@keyframes lunaBrilla{

    50%{
        transform:scale(1.03);
    }

}
.luna::before{

    content:"";

    position:absolute;

    width:20px;
    height:20px;

    background:rgba(180,160,110,.35);

    border-radius:50%;

    top:25px;
    left:25px;

    box-shadow:
    35px 15px 0 5px rgba(180,160,110,.25),
    15px 50px 0 8px rgba(180,160,110,.2),
    55px 60px 0 4px rgba(180,160,110,.25);

}

.luna::after{

    content:"";

    position:absolute;

    inset:0;

    border-radius:50%;

    background:
    linear-gradient(
        90deg,
        rgba(0,0,0,.25),
        transparent 60%
    );

}


@keyframes brillarLuna{

    50%{
        box-shadow:0 0 70px #fff4c2;
    }

}

.estrella{
    position:absolute;
    width:6px;
    height:6px;
    background:rgb(243, 229, 229);
    border-radius:50%;
    animation:flotar 5s infinite ease-in-out;
}

@keyframes flotar{

    0%,100%{
        transform:translateY(0);
        opacity:0.3;
    }

    50%{
        transform:translateY(-20px);
        opacity:1;
    }
}

.estrellaFugaz{

    position:absolute;
    width:120px;
    height:2px;
    background:linear-gradient(90deg, transparent, white);
    border-radius:50%;
    opacity:0;

    animation:estrellaCaer 1.5s linear forwards;

}


@keyframes estrellaCaer{

    0%{
        opacity:1;
        transform:translate(0,0) rotate(var(--angulo));
    }

    100%{
        opacity:0;
        transform:
        translate(var(--distanciaX), var(--distanciaY))
        rotate(var(--angulo));
    }

}

.confeti {
    position:fixed;
    width:10px;
    height:18px;
    z-index:999;
    animation:caer linear forwards
}

@keyframes caer {
    from {
        transform:translateY(-20px) rotate(0)
    }

    to {
        transform:translateY(110vh) rotate(720deg)
    }

    
}

.mensajeSecreto {
    position:fixed;
    bottom:30px;
    left:50%;
    transform:translateX(-50%);
    padding:14px 18px;
    border-radius:14px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(8px);
    animation:ap .4s;
    z-index:9999
}

@keyframes ap {
    from {
        opacity:0;
        transform:translate(-50%,15px)
    }

    to {
        opacity:1;
        transform:translate(-50%,0)
    }

    
}

@media(min-width:768px) {
    .contenedor {
        padding:42px
    }

    h1 {
        font-size:2.2rem
    }

    
}

@media(max-width:600px){

    .contenedor{

        width:90%;
        padding:20px;

    }


    h1{

        font-size:28px;

    }

}